# Lesson 2 Lab:  Practical Pandas

_This is a quiz given in Roger Peng's [Coursera](https://www.coursera.org) class [Computing for Data Analysis](https://www.coursera.org/course/compdata).  _

_Sourced from [Research Computing MeetUp's](https://github.com/ResearchComputing/Meetup-Fall-2013) Python course._

In [1]:
import pandas as pd

data = pd.read_csv('ozone.csv')

In [2]:
print data.head()

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3
3   18.0    313.0  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5

Print the column names of the dataset to the screen, one column name per line.

In [14]:
col_list = list(data.columns.values)
print col_list[0]
print col_list[1]
print col_list[2]
print col_list[3]
print col_list[4]
print col_list[5]

Ozone
Solar.R
Wind
Temp
Month
Day

Extract the first 2 rows of the data frame and print them to the console. What does the output
look like?

In [25]:
row1_2 = data[0:2]
row1_2

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2

In [21]:
print solar_list

[ 190.  118.  149.  313.   nan   nan  299.   99.   19.  194.   nan  256.
  290.  274.   65.  334.  307.   78.  322.   44.    8.  320.   25.   92.
   66.  266.   nan   13.  252.  223.  279.  286.  287.  242.  186.  220.
  264.  127.  273.  291.  323.  259.  250.  148.  332.  322.  191.  284.
   37.  120.  137.  150.   59.   91.  250.  135.  127.   47.   98.   31.
  138.  269.  248.  236.  101.  175.  314.  276.  267.  272.  175.  139.
  264.  175.  291.   48.  260.  274.  285.  187.  220.    7.  258.  295.
  294.  223.   81.   82.  213.  275.  253.  254.   83.   24.   77.   nan
   nan   nan  255.  229.  207.  222.  137.  192.  273.  157.   64.   71.
   51.  115.  244.  190.  259.   36.  255.  212.  238.  215.  153.  203.
  225.  237.  188.  167.  197.  183.  189.   95.   92.  252.  220.  230.
  259.  236.  259.  238.   24.  112.  237.  224.   27.  238.  201.  238.
   14.  139.   49.   20.  193.  145.  191.  131.  223.]

How many observations (i.e. rows) are in this data frame?

In [30]:
df_len = len(data)
print "Total rows in this data frame are: "+ str(df_len)

Total rows in this data frame are: 153

Extract the last 2 rows of the data frame and print them to the console. What does the output
look like?

In [34]:
row_last2 = data[-2:]
row_last2

     Ozone  Solar.R  Wind  Temp  Month  Day
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

What is the value of Ozone in the 47th row?

In [45]:
print "The value of Ozone in the 47th row is: "+ str(data.Ozone[47])

The value of Ozone in the 47th row is: 37.0

How many missing values are in the Ozone column of this data frame?

In [54]:
ozone_list = data.Ozone
missing_ozone = ozone_list.isnull().sum()
print str(missing_ozone) + " rows of data are missing in Ozone column"

37 rows of data are missing in Ozone column

What is the mean of the Ozone column in this dataset? Exclude missing values (coded as NA)
from this calculation.

In [66]:
ozone_clean_list = data.Ozone.dropna()
ozone_mean = ozone_clean_list.mean()
print "The mean value of the Ozone column excluding the NaN value is: "+ str(ozone_mean)

The mean value of the Ozone column excluding the NaN value is: 42.1293103448

Extract the subset of rows of the data frame where Ozone values are above 31 and Temp values
are above 90. What is the mean of Solar.R in this subset?

In [77]:
extract_list = data[(data['Ozone'] > 31) & (data['Temp'] > 90)]
solarR_mean = extract_list['Solar.R'].mean()
print "The mean value for Solar.R where Ozone value > 31 and Temp >90 is: "+ str(solarR_mean)

The mean value for Solar.R where Ozone value > 31 and Temp >90 is: 212.8

What is the mean of "Temp" when "Month" is equal to 6?

In [79]:
month6= data[data['Month'] == 6]
meanTemp_month6 = month6['Temp'].mean()
print "The Temp mean value for June is: " + str(meanTemp_month6)

The Temp mean value for June is: 79.1

What was the maximum ozone value in the month of May (i.e. Month = 5)?

In [81]:
may = data[data['Month'] == 5]
ozone_may = may['Ozone'].max()
print "The max ozone value in the month of May is: "+ str(ozone_may)

The max ozone value in the month of May is: 115.0

# Next Steps

**Recommended Resources**

Name | Description
--- | ---
[Official Pandas Tutorials](http://pandas.pydata.org/pandas-docs/stable/tutorials.html) | Wes & Company's selection of tutorials and lectures
[Julia Evans Pandas Cookbook](https://github.com/jvns/pandas-cookbook) | Great resource with eamples from weather, bikes and 311 calls
[Learn Pandas Tutorials](https://bitbucket.org/hrojas/learn-pandas) | A great series of Pandas tutorials from Dave Rojas
[Research Computing Python Data PYNBs](https://github.com/ResearchComputing/Meetup-Fall-2013/tree/master/python) | A super awesome set of python notebooks from a meetup-based course exclusively devoted to pandas